body {
margin: 0;
padding: 0px;
background-color: #FAFAE7;
/*background-color:tan;*/
background-position: 50% 60%; /*46.75%*/
position: static;
font-family: Arial;
}

ul {
box-shadow: black 0.1em 0.1em 0.2em;
}

h2 {
color: red;
text-shadow: black 0.1em 0.1em 0.2em;
text-align: center;
}

h1 {
color: black;
text-shadow: black 0.1em 0.1em 0.2em;
}

#ContenedorCentral {
float: left;
width: 82%;
min-height: 500px;
/*background-color: rgba(255, 255, 255, 0.2);*/
background-color:transparent;
position: absolute;
top: 15px;
left: 235px;
/*box-shadow: black 0.1em 0.1em 0.2em;*/
}
.PanelPersonalizado {
background-color: rgba(255, 255, 255, 0.2);
box-shadow: black 0.1em 0.1em 0.2em;
border: groove;
border-color: #6677BC;
}

#LBCliente {
background-image: url('../Recursos/UserMenuClienteNegro.png');
background-repeat: no-repeat;
background-position: left;
top: 0px;
left: 0px;
width: 169px;
}

#BotonAgregar {
background-image: url('../Recursos/UserAgregarNegro.png');
background-repeat: no-repeat;
background-position: left;
}

#BotonEditar {
background-image: url('../Recursos/UserEditarNegro.png');
background-repeat: no-repeat;
background-position: left;
}

#BotonEliminar {
background-image: url('../Recursos/UserEliminarNegro.png');
background-repeat: no-repeat;
background-position: left;
}

#BotonListar {
background-image: url('../Recursos/UserListarNegro.png');
background-repeat: no-repeat;
background-position: left;
}

#LBAtras {
background-image: url('Recursos/AtrasNegro.png');
background-repeat: no-repeat;
background-position: left;
}

.BotonAgregar {
border-style: none;
border-color: inherit;
border-width: medium;
outline: none;
background: #6677BC;
color: #fff;
width: 100%;
margin-bottom: 20px;
font-size: 18px;
border-radius: 20px;
}

.BotonAgregar:hover {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    background: lightsteelblue;
    color: #6677BC;
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 20px;
}

.BotoDataGrid {
box-shadow: black 0.1em 0.1em 0.2em;
}
.PanelPop {
position: absolute;
border-width: 1px;
border-style: solid;
height: 590px;
width: 600px;
border-color: black;
background-color: #FAFAE7;
box-shadow: black 0.1em 0.1em 0.2em;
}

.PanelEliminarPop {
position: absolute;
border-width: 1px;
border-style: solid;
border-radius: 6px;
height: 322px;
width: 441px;
border-color: black;
background-color: #fff;
box-shadow: black 0.1em 0.1em 0.2em;
}
.BtnAcepPopElim {
position: absolute;
background-color: #e64942;
color: white;
border: none;
box-shadow: none;
border-radius: 5px;
font-weight: 600;
font-size: 14px;
padding: 10px 24px;
margin: 0;
cursor: pointer;
right: 25px;
bottom: 25px;
}
.BtnElimPopElim {
position: absolute;
color: #555;
background-color: #efefef;
border: none;
box-shadow: none;
border-radius: 5px;
font-weight: 600;
font-size: 14px;
padding: 10px 24px;
margin: 0;
cursor: pointer;
bottom: 26px;
right:140px;
}

.textMensaje {

position:absolute;
font-size: 26px;
position: relative;
float: none;
line-height: normal;
vertical-align: top;
text-align: left;
display: inline-block;
margin: 0;
padding: 0 10px;
font-weight: 400;
color: rgba(0,0,0,.64);
max-width: calc(100% - 20px);
overflow-wrap: break-word;
box-sizing: border-box;
top: 15px;
left: 25%;
}

.textMensaje1 {
text-align: center;
position: absolute;
font-size: 24px;
position: relative;
float: none;
line-height: normal;
vertical-align: top;
text-align: left;
display: inline-block;
margin: 0;
padding: 0 10px;
font-weight: 400;
color: rgba(0,0,0,.64);
max-width: calc(100% - 20px);
overflow-wrap: break-word;
box-sizing: border-box;
top: 30px;
left: 0px;
}

.Titulo {
font-size: 45px;
color: black;
text-shadow: black 0.1em 0.1em 0.2em;
text-align: left;
margin-left: 1px;
margin-top: 1px;
text-align: center;
}

hr {
background-color: black;
}
.BordePop {
background-color: #284775;
}
.Textos {
margin-bottom: 10px;
left: 20.5%;
}

.Labels {
margin-left: 210px;
font-weight: bold;
}
.Vali {
background-color: #BC1010;
padding: 6px 40px;
border-radius: 4px;
color: white;
font-weight: bold;
margin-left: 16px;
margin-top: 6px;
position: absolute;
box-shadow: black 0.1em 0.1em 0.2em;
top: 4px;
left: 37px;
}

.Vali:before {
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #BC1010;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}
.TextosEditClient {
margin-top: 2px;
margin-left: 2px;
}

.LabelsEditClient {
font-weight: bold;
margin-left: 100px;
margin-top: 2px;
text-align: center;
}

.LabelsTEditClient {
font-weight: bold;
margin-left: 1px;
margin-top: 2px;
}

.RadioRSocial {
position: absolute;
top: 108px;
left: 480px;
width: 135px;
font-weight: bold;
border-bottom-style: none;
border-bottom-color: inherit;
border-bottom-width: 1px;
}

.RadioApellido {
position: absolute;
top: 108px;
left: 607px;
width: 92px;
font-weight: bold;
border-bottom-style: none;
border-bottom-color: inherit;
border-bottom-width: 1px;
}

.RadioTipo {
position: absolute;
top: 108px;
left: 697px;
width: 139px;
font-weight: bold;
border-bottom-style: none;
border-bottom-color: inherit;
border-bottom-width: 1px;
}

.RadioCuill {
position: absolute;
top: 108px;
left: 835px;
width: 139px;
font-weight: bold;
border-bottom-style: none;
border-bottom-color: inherit;
border-bottom-width: 1px;
}

.BotonBusEditClient {
position: absolute;
top: 123px;
left: 867px;
}

.ValiEditClient {
background-color: #BC1010;
padding: 6px 40px;
border-radius: 4px;
color: white;
font-weight: bold;
margin-left: 16px;
margin-top: 6px;
position: absolute;
box-shadow: black 0.1em 0.1em 0.2em;
top: 155px;
left: -13px;
}

.ValiEditClient:before {
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid #BC1010;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    left: 85px;
    position: absolute;
    top: -15px;
}

.BtnEditAceptarEditClient {
margin-top: 10px;
}

.BtnEditCancelarEditClient {
margin-top: 10px;
}

.scrolling-table-container {
height: auto;
overflow-y: hidden;
overflow-x: scroll;
top: 0px;
left: 0px;
}

.Vali2EditClient {
background-color: #BC1010;
padding: 6px 40px;
border-radius: 4px;
color: white;
font-weight: bold;
margin-left: 16px;
margin-top: 6px;
position: absolute;
box-shadow: black 0.1em 0.1em 0.2em;
top: -449px;
left: -5px;
z-index: 10001 !important;
}

.Vali2EditClient:before {
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #BC1010;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
    z-index: 10001 !important;
}
.BotonWord {
border-style: none;
border-color: inherit;
border-width: medium;
position: absolute;
top: 23px;
left: 894px;
box-shadow: black 0.1em 0.1em 0.2em;
background-image: url('Recursos/Word.png');
background-repeat: no-repeat;
background-position: center;
background-color: white;
height: 81px;
}

.BotonWord:hover {

    box-shadow: black 0.1em 0.1em 0.2em;
    background-image: url('Recursos/WordNegro.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.BotonExcel {
position: absolute;
top: 24px;
left: 1035px;
box-shadow: black 0.1em 0.1em 0.2em;
background-image: url('Recursos/Excel.png');
background-repeat: no-repeat;
background-position: center;
background-color: white;
border: none;
}

.BotonExcel:hover {

    box-shadow: black 0.1em 0.1em 0.2em;
    background-image: url('Recursos/ExcelNegro.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.BotonPDF {
position: absolute;
top: 24px;
left: 964px;
box-shadow: black 0.1em 0.1em 0.2em;
background-image: url('Recursos/PDFBlanco.png');
background-repeat: no-repeat;
background-position: center;
background-color: white;
border: none;
}

.BotonPDF:hover {

    box-shadow: black 0.1em 0.1em 0.2em;
    background-image: url('Recursos/PDFNegro.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}
.TextosAgregarEmp {
margin-bottom: 10px;
left: 25%;
}

.LabelsAgregarEmp {
margin-left: 270px;
font-weight: bold;
}

.ValiAgregarEmp {
background-color: #BC1010;
padding: 6px 40px;
border-radius: 4px;
color: white;
font-weight: bold;
margin-left: 16px;
margin-top: 6px;
position: absolute;
box-shadow: black 0.1em 0.1em 0.2em;
}

.ValiAgregarEmp:before {
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #BC1010;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}
.TextosEditEmp {
margin-top: 2px;
margin-left: 2px;
}

.LabelsEditEmp {
font-weight: bold;
margin-left: 100px;
margin-top: 2px;
text-align: center;
}

.LabelsTEditEmp {
font-weight: bold;
margin-left: 1px;
margin-top: 2px;
}

.CheckPesonalizadosEditEmp {
position: absolute;
top: 108px;
left: 614px;
width: 92px;
font-weight: bold;
border-bottom-style: none;
border-bottom-color: inherit;
border-bottom-width: 1px;
}

.CheckPesonalizadosAPEditEmp {
position: absolute;
top: 108px;
left: 524px;
width: 92px;
font-weight: bold;
border-bottom-style: none;
border-bottom-color: inherit;
border-bottom-width: 1px;
}

.BotonBusEditEmp {
    position: absolute;
    top: 7px !IMPORTANT;
    left: 215px !IMPORTANT;
}

.BtnEditAceptarEditEmp {
    position: absolute !important;
    top: 417px !important;
    left: 127px !important;
    margin-top: 10px !important;
}

.BtnEditCancelarEditEmp {
    position: absolute !important;
    top: 417px !important;
    left: 315px !important;
    margin-top: 10px !important;
}

.ValiEditEmp {
background-color: #BC1010;
padding: 6px 40px;
border-radius: 4px;
color: white;
font-weight: bold;
margin-left: 16px;
margin-top: 6px;
position: absolute;
box-shadow: black 0.1em 0.1em 0.2em;
top: 161px;
left: -12px;
}

.ValiEditEmp:before {
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid #BC1010;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    left: 85px;
    position: absolute;
    top: -15px;
}

.Vali2EditEmp {
background-color: #BC1010;
padding: 6px 40px;
border-radius: 4px;
color: white;
font-weight: bold;
margin-left: 16px;
margin-top: 6px;
position: absolute;
box-shadow: black 0.1em 0.1em 0.2em;
top: -449px;
left: -5px;
}

.Vali2EditEmp:before {
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #BC1010;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}
.BotonWordEmpleado {
border-style: none;
border-color: inherit;
border-width: medium;
position: absolute;
top: 23px;
left: 894px;
box-shadow: black 0.1em 0.1em 0.2em;
background-image: url('Recursos/Word.png');
background-repeat: no-repeat;
background-position: center;
background-color: white;
height: 81px;
}
.BWord {
    top: -10px !important;
    display: inline-block !important;
}

.BExcel {
    display: inline-block !important;
    margin-left: -12% !important;
    top: -10px !important;
}

.BPDF {
    display: inline-block !important;
    margin-left: -10% !important;
    top: -10px !important;
}

.BotonWordEmpleado:hover {

    box-shadow: black 0.1em 0.1em 0.2em;
    background-image: url('Recursos/WordNegro.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.BotonExcelEmpleado {
    position: absolute;
    top: 24px;
    left: 1035px;
    box-shadow: black 0.1em 0.1em 0.2em;
    background-image: url('Recursos/Excel.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
}

.BotonExcelEmpleado:hover {

    box-shadow: black 0.1em 0.1em 0.2em;
    background-image: url('Recursos/ExcelNegro.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.BotonPDFEmpleado {
    position: absolute;
    top: 24px;
    left: 964px;
    box-shadow: black 0.1em 0.1em 0.2em;
    background-image: url('Recursos/PDFBlanco.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
}

.BotonPDFEmpleado:hover {

box-shadow: black 0.1em 0.1em 0.2em;
background-image: url('Recursos/PDFNegro.png');
background-repeat: no-repeat;
background-position: center;
background-color: white;
}
.PanelPEditEmpleado {
    border-width: 1px;
    border-style: solid;
    height: 470px;
    width: 600px;
    border-color: black;
    background-color: #FAFAE7;
    box-shadow: black 0.1em 0.1em 0.2em;
}
